@keyframes trigger_pulse {
  10% {
    color: gray;
    border-color: gray; }
  20% {
    color: #aaaaaa;
    border-color: #aaaaaa; }
  30% {
    color: #787878;
    border-color: #787878; }
  40% {
    color: #aaaaaa;
    border-color: #aaaaaa; }
  50%, 60% {
    color: gray;
    border-color: gray; }
  70% {
    color: #aaaaaa;
    border-color: #aaaaaa; }
  80% {
    color: #787878;
    border-color: #787878; }
  90% {
    color: #aaaaaa;
    border-color: #aaaaaa; }
  100% {
    color: gray;
    border-color: gray; } }
* {
  margin: 0;
  padding: 0; }

body, html {
  position: absolute;
  font-family: pavanam;
  font-size: 32px;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0; }

#headerCont, #footerCont {
  opacity: 0.3; }

#main_cont {
  position: absolute;
  height: -webkit-calc(100% - 150px);
  height: -moz-calc(100% - 150px);
  height: calc(100% - 150px);
  width: 100%;
  margin: 100px 0 0px 0px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center; }
  #main_cont .popup0 {
    top: 11%;
    left: 3%;
    width: 295px;
    color: white;
    font-size: 30px;
    background: url("images/chalk1.jpg") center no-repeat;
    position: absolute;
    background-size: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; }
    #main_cont .popup0.closed {
      height: 0px; }
    #main_cont .popup0.open {
      height: 236px;
      margin: -120px 0px 0px 0px; }
  #main_cont .popup1 {
    background: url("images/flowers.jpg") center no-repeat;
    bottom: 40%;
    left: 45%;
    width: 0px;
    color: black;
    position: absolute;
    background-size: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out; }
    #main_cont .popup1.closed {
      height: 0px; }
    #main_cont .popup1.open {
      height: 375px;
      width: 500px;
      margin: 0px 0px -180px -250px; }
  #main_cont .popup2 {
    background: url("images/premium.png") center no-repeat;
    bottom: 28%;
    right: 27%;
    width: 295px;
    position: absolute;
    background-size: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; }
    #main_cont .popup2.closed {
      height: 0px; }
    #main_cont .popup2.open {
      height: 286px;
      margin: 0px 0px -183px 0px; }
  #main_cont .popup3 {
    background: url("images/guaranteed.png") center no-repeat;
    right: 8%;
    top: 29%;
    width: 350px;
    position: absolute;
    background-size: 100%;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; }
    #main_cont .popup3.closed {
      height: 0px; }
    #main_cont .popup3.open {
      height: 308px;
      margin: -200px 0px 0px 0px; }
  #main_cont .popup4 {
    background: url("images/sunburst-design.jpg") center no-repeat;
    left: 18%;
    bottom: 31%;
    width: 0px;
    position: absolute;
    background-size: 100%;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; }
    #main_cont .popup4.closed {
      height: 0px; }
    #main_cont .popup4.open {
      height: 308px;
      width: 350px;
      margin: 0px 0px -200px -175px; }
  #main_cont .flash0 {
    position: absolute;
    opacity: 0; }
  #main_cont #exclam {
    position: absolute;
    font-size: 150px;
    left: 47.5%;
    width: 5%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center; }
  #main_cont .exclam_in {
    top: -250px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease; }
  #main_cont .exclam_out {
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
    top: 0px; }
  #main_cont .trigger {
    color: gray;
    border: 3px solid gray;
    border-radius: 100%;
    width: 125px;
    height: 125px;
    -webkit-animation: trigger_pulse 15s infinite;
    -moz-animation: trigger_pulse 15s infinite;
    -o-animation: trigger_pulse 15s infinite;
    animation: trigger_pulse 15s infinite;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: opacity .8s ease;
    -moz-transition: opacity .8s ease;
    -o-transition: opacity .8s ease;
    transition: opacity .8s ease; }
    #main_cont .trigger div {
      font-size: 170px;
      height: 100%;
      width: 100%;
      margin-top: 14px;
      -webkit-animation: trigger_pulse 15s infinite;
      -moz-animation: trigger_pulse 15s infinite;
      -o-animation: trigger_pulse 15s infinite;
      animation: trigger_pulse 15s infinite;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: center;
      align-items: center;
      -webkit-transition: opacity .8s ease;
      -moz-transition: opacity .8s ease;
      -o-transition: opacity .8s ease;
      transition: opacity .8s ease; }

/*# sourceMappingURL=styles.css.map */
